/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");

body {
  font-family: "Oswald", sans-serif;
  background-color: #c3edc0;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav-container {
  display: flex;
  flex-direction: row;;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  z-index: 999;
}
.nav-container .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-container .logo {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  left: 1rem;
  margin-left: 2rem;
}
.nav-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  right: 1rem;
  list-style: none;
}
.nav-container li a {
  margin: 1rem;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.header h1 {
  margin: 0;
}
.header {
  width: auto;
  scale: 300%;
  position: relative;
  margin: 22rem 0;
}
.btn_container {
  margin: 0 0 5rem 0;
}
.movedown_btn {
  border: none;
  background-color: transparent;
}

.movedown_btn i {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 48px;
  transition: all 0.2s ease-in-out;
}

.movedown_btn i:hover {
  color: #fff;
  transform: scale(1.5);
}

.input {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5rem 0 2.5rem 0;
}
.input .uploadbtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 20px 60px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  margin: 5rem 0 0 0;
  width: auto;
  transition: all 0.3s ease-in-out;
}
.input .uploadbtn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}
.input .btn_container {
  align-items: center;
}

.input #fileinput {
  display: none;
}

.hiddenbtn {
  display: none;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 12rem 0 10rem 0;
  align-items: center;
}
.selection a {
  color: #fff;
  text-decoration: none;
  padding: 8rem 10rem;
}
.selection .predict-btn {
  background-color: #333;
  border: none;
  padding: 8rem 6rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  margin: 10rem 2rem;
  width: auto;
  transition: all 0.3s ease-in-out;
}
.selection .predict-btn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}
.selection .predict-btn:hover a {
  color: #333;
}

.selection .crop-btn {
  background-color: #333;
  
  border: none;
  padding: 8rem 6rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  margin: 10rem 2rem;
  width: auto;
  transition: all 0.3s ease-in-out;
}
.selection .crop-btn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}
.selection .crop-btn:hover  a {
  color: #333;
}

.crop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 5rem 0;
  align-items: center;
}

.crop img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin: 0;
  max-width: 600px;
}

.logo a{
  color: #000000;
  text-decoration: none;
}
.cropped {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 5rem 0;
  align-items: center;
}

.cropped .predictbtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 20px 60px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  margin: 5rem 0 0 0;
  width: auto;
  transition: all 0.3s ease-in-out;
}
.cropped .predictbtn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}
.cropped .btn_container {
  align-items: center;
}

.cropped #new_img {
  height: 100%;
  width: auto;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 5rem 0;
  align-items: center;
}

.result .text {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 1rem 0;
}
.img_result{
  scale: 70%;
  height: auto;
  width: 90vh;
  max-width: fit-content;
}
.img_result_container{
  margin-top: 2rem;
  display: flex;
  width: auto;
  justify-content: center;
}
/* footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
} */
